<footer style="max-width: 85%; margin: 0 auto; padding-bottom: 80px;">
    <p style="text-align: center; line-height: 1.6;">Views expressed are my own. All opinions are my own. The opinions expressed here belong solely to myself, and do not reflect the views of my current employer Sony Interactive Entertainment (SIE), any previous employers including AWS/Amazon, the Open 3D Foundation, or their parent the Linux Foundation. I am bound by NDAs with my current and previous employers and am not authorized to speak on their behalf. This blog is considered personal use, and I will not be formally discussing strategic business matters of any current or former employer. If you are a reporter or news outlet seeking official statements, please contact the respective company's PR department (I will not reply to such requests, and they will be forwarded to the appropriate PR representative).</p>
    <br />
    <br />
</footer>
