<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <title>
    {% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }} - {{ site.subtitle }}{% endif %}
  </title>
  
  <!-- Meta Description -->
  {% if page.summary %}
  <meta name="description" content="{{ page.summary | strip_html | strip_newlines | truncate: 160 }}">
  {% elsif page.excerpt %}
  <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
  {% else %}
  <meta name="description" content="{{ site.description | strip_html | strip_newlines | truncate: 160 }}">
  {% endif %}
  
  <!-- Keywords -->
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% endif %}{% if page.categories %}, {% for category in page.categories %}{{ category }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}{% if page.tags %}, {% for tag in page.tags %}{{ tag }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}"/>
  
  <!-- Author -->
  <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}" />
  
  <!-- Humans.txt -->
  <link rel="author" type="text/plain" href="{{ site.url }}/humans.txt" />
  
  <!-- Canonical URL -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  
  <!-- Performance Optimization: DNS Prefetch & Preconnect -->
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">
  <link rel="dns-prefetch" href="https://cdn.mathjax.org">
  <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
  <link rel="dns-prefetch" href="https://code.jquery.com">
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- RSS Feed -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} RSS Feed" href="{{ site.url }}{{ site.baseurl }}/feed.xml" />
  
  <!-- Open Graph Meta Tags -->
  <meta content="{{ site.share.fb_appid }}" property="fb:app_id" />
  <meta content="{{ site.title }}" property="og:site_name" />
  <meta content="{{ site.locale }}" property="og:locale" />
  
  {% if page.noindex %}
  <meta name="robots" content="noindex, nofollow" />
  {% else %}
  <meta name="robots" content="index, follow" />
  {% endif %}
  
  {% if page.title %}
  <meta content="{{ page.title }}" property="og:title" />
  <meta content="article" property="og:type" />
  {% else %}
  <meta content="{{ site.title }}" property="og:title" />
  <meta content="website" property="og:type" />
  {% endif %}
  
  {% if page.summary %}
  <meta content="{{ page.summary | strip_html | strip_newlines | truncate: 200 }}" property="og:description" />
  {% elsif page.excerpt %}
  <meta content="{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}" property="og:description" />
  {% else %}
  <meta content="{{ site.description }}" property="og:description" />
  {% endif %}
  
  {% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url" />
  {% endif %}
  
  {% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time" />
  <meta content="{{ site.url }}/about/" property="article:author" />
  {% if page.modified_date %}
  <meta content="{{ page.modified_date | date_to_xmlschema }}" property="article:modified_time" />
  {% endif %}
  {% endif %}
  
  {% if page.thumbnail %}
  <meta content="{{ site.url }}{{ page.thumbnail }}" property="og:image" />
  <meta content="{{ page.title }}" property="og:image:alt" />
  {% elsif site.defaults_image %}
  <meta content="{{ site.url }}{{ site.defaults_image }}" property="og:image" />
  <meta content="{{ site.title }}" property="og:image:alt" />
  {% endif %}
  
  {% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section" />
  {% endfor %}
  {% endif %}
  
  {% if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag" />
  {% endfor %}
  {% endif %}

  <!-- Twitter Cards -->
  {% if page.thumbnail %}
  <meta name="twitter:card" content="summary_large_image" />
  {% else %}
  <meta name="twitter:card" content="summary" />
  {% endif %}
  <meta name="twitter:site" content="@{{ site.share.twitter_username }}" />
  <meta name="twitter:creator" content="@{{ site.share.twitter_username }}" />

  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}" />
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}" />
  {% endif %}

  {% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
  {% endif %}
  
  {% if page.summary %}
  <meta name="twitter:description" content="{{ page.summary | strip_html | strip_newlines | truncate: 200 }}" />
  {% elsif page.excerpt %}
  <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}" />
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}" />
  {% endif %}
  
  {% if page.thumbnail %}
  <meta name="twitter:image" content="{{ site.url }}{{ page.thumbnail }}" />
  <meta name="twitter:image:alt" content="{{ page.title }}" />
  {% elsif site.defaults_image %}
  <meta name="twitter:image" content="{{ site.url }}{{ site.defaults_image }}" />
  <meta name="twitter:image:alt" content="{{ site.title }}" />
  {% endif %}

  <!-- JSON-LD Structured Data -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "{% if page.layout == 'post' %}BlogPosting{% else %}WebPage{% endif %}",
    "headline": "{{ page.title | default: site.title | escape }}",
    "description": "{{ page.summary | default: page.excerpt | default: site.description | strip_html | strip_newlines | truncate: 200 | escape }}",
    "url": "{{ site.url }}{{ page.url }}",
    {% if page.thumbnail %}
    "image": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{ page.thumbnail }}",
      "width": 1200,
      "height": 630
    },
    {% endif %}
    {% if page.date %}
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    {% if page.modified_date %}
    "dateModified": "{{ page.modified_date | date_to_xmlschema }}",
    {% else %}
    "dateModified": "{{ page.date | date_to_xmlschema }}",
    {% endif %}
    {% endif %}
    "author": {
      "@type": "Person",
      "name": "{{ page.author | default: site.author }}",
      "url": "{{ site.url }}/about/"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.title }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.url }}{{ site.author_logo | prepend: '/assets/img/' }}"
      }
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ site.url }}{{ page.url }}"
    }
    {% if page.keywords %}
    ,"keywords": "{{ page.keywords }}"
    {% endif %}
  }
  </script>

  <!-- Breadcrumb Schema -->
  {%- include breadcrumb_schema.html -%}

  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/css/main.css" />
  <!-- <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/css/custom-style.css" /> -->
  <link
    rel="stylesheet"
    href="{{site.url}}{{site.baseurl}}/assets/bower_components/lightgallery/dist/css/lightgallery.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.snipcart.com/themes/v3.0.0-beta.3/default/snipcart.css"
  />
  <link
    rel="stylesheet"
    href="{{site.url}}{{site.baseurl}}/assets/bower_components/bootstrap/dist/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="{{site.url}}{{site.baseurl}}/assets/bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css"
  />
  <link
    rel="stylesheet"
    href="{{site.url}}{{site.baseurl}}/assets/bower_components/icono/dist/icono.min.css"
  />
  <!-- Fonts-->
  <link
    href="https://fonts.googleapis.com/css?family=Quicksand&display=swap"
    rel="stylesheet"
  />
  <!-- Favicon -->
  <link
    rel="icon"
    href="{{site.url}}{{site.baseurl}}/assets/img/favicon.ico"
    type="image/gif"
    sizes="16x16"
  />
  <script>
      var base_url = '{{ site.url}}{{site.baseurl}}' ;
   </script>

  <!-- Jquery -->
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
    crossorigin="anonymous"
  ></script>
  <!-- <script src="{{site.url}}{{site.baseurl}}/assets/bower_components/jquery/dist/jquery.min.js"></script> -->
  <script src="{{site.url}}{{site.baseurl}}/assets/bower_components/jquery.easing/jquery.easing.min.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/bower_components/jquery-mousewheel/jquery.mousewheel.min.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/bower_components/ghosthunter/dist/jquery.ghostHunter.min.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/bower_components/lightgallery/dist/js/lightgallery-all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.min.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/bower_components/nanobar/nanobar.min.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/bower_components/typewrite/dist/typewrite.min.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/js/search.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/js/on-scroll-progress.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

 <!-- for Mathjax support -->
  {% if page.usemathjax %}
   <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
      TeX: { equationNumbers: { autoNumber: "AMS" } }
      });
   </script>
   <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  {% endif %}

  <!-- Github Button -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"
  ></script>


 <!-- (you can remove the below scripts but do buy me a coffee to show some support :) -->
<!-- Maker widget https://makerwidget.com/widgets/2442/edit#embed-widget  -->
<script>
    (function(d, h, m){
        var js, fjs = d.getElementsByTagName(h)[0];
        if (d.getElementById(m)){return;}
        js = d.createElement(h); js.id = m;
        js.onload = function(){
            window.makerWidgetComInit({
            position: "left",          
            widget: "meepp93o9zljcgvs-697vqqanffb0le13-r96pitwwf8ktheww"                
        })};
        js.src = "https://makerwidget.com/js/embed.js";
        fjs.parentNode.insertBefore(js, fjs)
    }(document, "script", "dhm"))
</script>
  <!-- buy me a coffeee -->
  <script
    data-name="BMC-Widget"
    src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
    data-id="hogjonnyamzn"
    data-description="Support the co3dex on Buy me a coffee!"
    data-message=""
    data-color="#FF813F"
    data-position="right"
    data-x_margin="10"
    data-y_margin="10"
  ></script>

  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
</head>
